{% extends "base.html.twig" %}

{% block title %}
    Bienvenuti a la reteaua meiora d apartamento ...
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron mt-3">
            <h1 class="display-3">Bienvenu sur SymBNB</h1>
            <p class="lead">We are here to help you find opportunities to rent a location at the best price. We have
                selectionated the best for you.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorum, hic impedit iusto nesciunt
                recusandae rerum temporibus ut? Dicta expedita iste non similique! Aspernatur deleniti ex incidunt nemo
                odio perspiciatis.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Voir les annonces</a>
            </p>
        </div>

        <h2 class="h1 my-5">Nos appartements star de star</h2>

        <div class="row">
            {% for data in ads %}
                {% include 'ad/_ad.html.twig' with {'ad': data.annonce, } %}
            {% endfor %}
        </div>
{{ dump(users) }}
        <h2 class="my-5">Nos proprio star</h2>

        <div class="row">
            {% for data in users %}
                <div class="col">
                    <div class="card border-secondary mb-3">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ data.user.fullName }}
                            </h4>

                            <hr>

                            <div class="card-text">
                                <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullName }}"
                                     class="float-left mr-3">
                                <p>{{ data.user.introduction }}</p>
                                <a href="{{ path('user_show', {slug: data.user.slug}) }}"
                                   class="btn btn-success float-right">Courieux ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}